* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  flex-direction: row;
  font-weight: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  height: 4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  column-gap: 3px;
  gap: 5px 30px;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px;
  width: fit-content;
  border-radius: 20px;
  color: white;
}
.primary-button {
  background-color: cadetblue;
  color: white;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: grabbing;
  height: 2.5rem;
}
#hero {
  background-image: url("./Asset/Hospital.jpg");
  height: 100vh;
  background: position 20px 90px;
  background-size: cover;
  background-blend-mode: darken;
}
/* .primary-button:active {
  transition: 1s;
  background-color: black;
} */
.primary-button:hover {
  background-color: blueviolet;
  transition-duration: 0.5s;
}

.overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  rotate: 10px;
  row-gap: 1.5rem;
}
/* .overlay h1 {
  font-size: 30px;
  text-transform: uppercase;
} */
#hero p {
  width: 55%;
  text-align: center;
  font-size: 1.2rem;
}

#hero h1 {
  text-align: center;
  width: 55%;
  font-size: 4rem;
  font-weight: 200;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.primary-button {
  font-size: 15px;
  font-weight: 100px;
  text-shadow: 50px;
  background-color: cadetblue;
  color: rgba(255, 255, 255, 0.797);
}
#hero button {
  padding: 1rem 2rem;
  display: flex;
  column-gap: 1rem;
  margin-top: 4rem;
}

#search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  margin-top: -6rem;
}

#search-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: white;
  margin: 0rem 4rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.24);
}
#search-title span {
  padding: 1rem 2rem;
  background-color: cadetblue;
  color: white;
  font-size: 20px;
}

#search-title span:nth-child(2) {
  background-color: white;
  color: black;
  box-shadow: black;
}
#search-box div {
  padding: 1rem;
  border-right: 1px solid #6198cd;
}
#search-box p {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

#search-box span {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 0.8rem;
}
#search-box i {
  color: #8ab8d6;
}
#search-box input {
  border: none;
}

#search-box input::placeholder {
  color: #6198cd;
}
#search-box button {
  background-color: cadetblue;
  border: none;
  color: white;
  text-transform: uppercase;
}

.mom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mom p {
  text-align: center;
  font-size: large;
  color: cadetblue;
  height: 1rem;
}

.mom h2 {
  font-size: 3rem;
  text-shadow: 2rem;
  text-align: center;
  max-width: 500px;
  margin: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


.icons {
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
}

.icons .con {
  height: 222px;
  width: 220px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.con i {
  font-size: 5rem;
}


.con p {
  font-size: 24px;
  font-weight: 600;
}
.icons :hover{
background-color: burlywood;
transition-duration: 0.5;
}